apiVersion: v1
kind: Config
clusters:
- name: default-cluster
  cluster:
    certificate-authority-data: {{ca.stdout}}
    server: {{server}}
contexts:
- name: default-context
  context:
    cluster: default-cluster
    namespace: {{sample_app_name}}
    user: default-user
current-context: default-context
users:
- name: default-user
  user:
    token: {{token.stdout}}