apiVersion: v1
kind: Config
current-context: {{CLUSTER_NAME.stdout}}
contexts:
- name: {{CLUSTER_NAME.stdout}}
  context:
    cluster: {{CLUSTER_NAME.stdout}}
    namespace: {{sample_app_name}}
    user: github
clusters:
- name: {{CLUSTER_NAME.stdout}}
  cluster:
    certificate-authority-data: {{CLUSTER_CA_CERT.stdout}}
    server: {{CLUSTER_ENDPOINT.stdout}}
users:
- name: github
  user:
    token: {{SA_SECRET_TOKEN.stdout}}